body{
	background: lightgray;	
	font-family: "Verdana";
}
section{
	text-align: center;
}
.game-container{
	display: grid;
	grid-template-columns: repeat(7, auto);
	width: 475px;
	margin: 50px auto;
}
.cell{
	font-family: "Verdana";
	font-size: 55px;
	width: 65px;
	height: 65px;
	border: 1px solid #333333;
	box-shadow: 0 0 0 1px #333333;
	cursor: pointer;
	line-height: 65px;
}
.borderColorCoral{
  	background-color: coral;
}
.borderColorGreen{
	background-color: limegreen;
}
.hiddenCell {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape */
  -moz-opacity: 0;

  /* Safari 1.x */
  -khtml-opacity: 0;

  /* Good browsers */
  opacity: 0;
}